<!doctype html> 
{% load staticfiles %}
<html> 
<head> 
<meta charset="utf-8"> 
<link rel="stylesheet" href="{% static 'main/css/share.css' %}">
<link rel="stylesheet" href="{% static 'main/css/book.css' %}">
</head> 
<body> 

<div id="wrapper">
  <nav>
    <ul class="menu">
      <li class="menu-sort"><a href="{% url 'main:main' %}" style="text-decoration:none;">首頁</a></li>．
        {% if user.is_authenticated %}
      <li class="menu-sort"><a href="{% url 'account:logout' %}">登出 ({{ user.username }})</a></li>．
        {% else %}
      <li class="menu-sort"><a href="{% url 'account:login' %}"style="text-decoration:none;">登入</a></li>．
      <li class="menu-sort"><a href="{% url 'account:register' %}"style="text-decoration:none;">註冊</a></li>．
        {% endif %}
      <li class="menu-sort"><a href="{% url 'main:aboutbookstore' %}"style="text-decoration:none;">關於我們</a></li>
    </ul>
  </nav>
 
  <header>
    <a href="{% url 'main:main' %}"><img src = "{% static 'main/img/bookstore02.jpg' %}" alt="bookstore" width = "350" ></a>
  </header>
  
<div>
  <ul class="top">
    <li class="top-sort"><a href="{% url 'main:new' %}"style="text-decoration:none;">新品推薦</a></li>．
    <li class="top-sort"><a href="{% url 'main:hot' %}"style="text-decoration:none;">暢銷書榜</a></li>．
    <li class="top-sort"><a href="{% url 'main:34off' %}"style="text-decoration:none;">今日66折</a></li>
  </ul>
</div>
  
  <div id="sup"><img src = "{% static 'main/img/hr01.jpg' %}" alt="hr" width = 100%></div>
  <aside>
  <p class="shopmenu-title">購物分類</p>
  <p class="shopmenu" >&nbsp;<img src = "{% static 'main/img/shopmenu.jpg' %}" >中文書</p>
      <ul>
        <li class="shopmenu1"><a href="{% url 'main:title1' %}" style = "text-decoration:none;">經典文學</a></li>
        <li class="shopmenu1"><a href="{% url 'main:title2' %}" style = "text-decoration:none;">心理勵志</a></li>
        <li class="shopmenu1"><a href="{% url 'main:title3' %}" style = "text-decoration:none;">推理文學</a></li>
      </ul>
    <p class="shopmenu" font-size: 15px>&nbsp;<img src = "{% static 'main/img/shopmenu.jpg' %}" >英文書</p>
      <ul>
        <li class="shopmenu1"><a href="{% url 'main:title4' %}" style = "text-decoration:none;">科幻小說</a></li>
      </ul>
  </aside>
  <div id="content">  
    <div id="photo">
    <img class="photo-img" src="{% static 'main/img/book2.jpg' %}">
    </div>
    <div id="author">
      <p><b>被討厭的勇氣：自我啟發之父「阿德勒」的教導</b></p>
            作者： 岸見一郎, 古賀史健<br>
            譯者： 柯乃瑜<br>
            出版社：究竟<br>
            出版日期：2014/10/30<br>
            語言：繁體中文<br>
            定價：300元<br>
            優惠價：79折237元
      <button><a href ="{% url 'order:order' %}"style = "text-decoration:none;">購買</a></button>
      
    </div>
    <div id="about" style="overflow-y:scroll">
      <h3>內容簡介</h3><hr>
　　所謂的自由，就是被別人討厭。<br>
　　有人討厭你，正是你行使自由、依照自己的生活方針過日子的標記。<br>
　　為什麼人們一直無法改變？<br>
　　為什麼自卑感總是揮之不去？<br>
　　為什麼我們總是活在別人的期待之下？<br>
　　為什麼現在無法真實感受到幸福？<br>
　　或許是因為，我們缺少了被別人討厭的勇氣！<br>

        <p>   　　一名憤世嫉俗的年輕人來到哲學家的小屋。<br>
　　當他聽聞哲學家主張「世界無比單純，人人都能幸福」，便決心前來推翻這種謬論。<br>
　　這個世界明明複雜混亂，哪裡單純了？<br>
             　　如果幸福真的這麼容易，為什麼他還會過得這麼痛苦？<br></p>

　　他們開始了你來我往的思考與論辯。<br>
　　年輕人原以為哲學家不過是昧於現實的昏庸老頭，<br>
　　但是一夜又一夜過去後，年輕人反而陷入沉思：這世界到底是什麼樣子？<br>
　　「所謂的自由，就是被別人討厭。」哲學家說。<br>
　　怎麼會這樣？怎麼會有人想被別人討厭？<br>
　　想得到真正的自由，又為什麼非得被別人討厭不可呢？<br>

　　「如果說，羅蘭．巴特用一本《戀人絮語》揭露愛情的語言結構與表意系統，從此沒有先於語言的戀人，沒有先於符號的愛情，那麼，《傲慢與偏見》就是獨屬於珍迷的戀人絮語。在珍迷的世界中，沒有先於達西先生的男人，沒有先於《傲慢與偏見》的愛情。所有的愛情與慾望，都只能在珍．奧斯汀的語言與符號中產生意義。」——施舜翔<br>

      <h3>本書特色</h3><hr>

　　1. 全新台灣譯者中譯<br>
　　2. 參照哈佛大學註解版等中外相關文獻，提供最新穎、全面而當代化的中文註解<br>
　　3. 系列總導讀：高瑟濡（台灣大學外文系教授）──社會與人性的觀察家：談珍‧奧斯汀的長篇小說，馮品佳（交通大學外文系講座教授，中研院歐美所合聘研究員）──我們的珍‧奧斯汀<br>
    　　4. 台灣當代作家專文推薦：施舜翔（作家，文化評論人）──珍‧奧斯汀的妹妹們：一段《傲慢與偏見》的當代再現史<br>
　　5. 精采譯後記<br>
　　6. 融合經典與現代，風格統一的包裝：知名平面設計師 莊謹銘 操刀「假使羅曼史小說有祖譜的話，那珍奧斯汀肯定是祖師奶奶。」——李桐豪（作家）<br>

      <h3>好評推薦</h3><hr>

　　「在欲望流竄的當代社會，奧斯汀筆下各種發乎情而又止乎禮的感情篇章或許更能引人入勝。」——馮品佳（交通大學外文系講座教授）<br>

　　「一切的愛情故事從珍奧斯汀的地平線上起跑，跑，不停跑，世界上所有嚮往愛情的女孩都在奔跑……」——陳栢青（作家）<br>

　　「珍．奧斯汀是我的使命。過去我一直嘗試在電影中把社會諷刺和家庭倫理劇融合起來；如今我理解到，長久以來我所做的，其實就是像珍．奧斯汀那樣的作品，只是沒意識到而已。」——李安（電影《理性與感性》導演，節錄自Newsweek專訪）<br>

　　「有些書能夠表達對生活的看法，而且說得非常清楚，比我們自己說得都清楚。生活中的尷尬、苦惱、嫉妒、罪惡感，這一切經過奧斯汀之手一一呈現在我們眼前，使我們以一種神奇的方式看清自己。」——艾倫．狄波頓（英國知名作家）<br>

　　「奧斯汀採用反諷的手法，把莎士比亞那種對人性的刻畫提升到爐火純青的地步。她非凡的喜劇天賦，自莎士比亞以降無人能出其右。」——哈洛卜倫（《西方正典》作者）<br>

　　「奧斯汀小姐描述了日常生活中的平凡事物，人們在日常生活中的活動和情感；故事中沒有什麼大事，但是你讀完一頁會趕緊翻到下一頁，希望知道接下來會發生什麼事；下頁讀完，依舊沒什麼大事，可是你會帶著同樣迫切的心情往下閱讀。」——威廉．薩默塞特．毛姆（英國小說大師）<br>

　　「我是珍迷，所以一提到她，我就會笨嘴笨舌的。」——E. M. 佛斯特（英國小說大師）<br>

　　「我從七歲起就是珍迷。」——綺拉奈特莉（英國女星，節錄自媒體專訪）
    </div>
  </div>
  <footer></footer>
</div> <!-- wrapper -->

</body>
</html>