<!doctype html> 

<html>
  
<head> 
<meta charset="utf-8">
<title>Bookstore - 登入頁面</title>
<link rel="stylesheet" href="../css/%E7%99%BB%E5%85%A5.css">
</head>
  
<body>

<form method="post" action="#"> <!-- 目前尚無後端程式 -->
  <fieldset>
    <div class="main">
      <h1><a href="../html/%E9%A6%96%E9%A0%81.html"><img src = "../img/bookstore.jpg" alt="bookstore" width = "390" ></a></h1>
      <br>帳號 :
      <p><input class="data" type="text" name="account" placeholder="account" required></p>
      <br>密碼 :
      <p><input class="data" type="password" name="password" placeholder="password" required></p>
      <p><label><input type="checkbox" name="rememberme" value="True" checked>記住我的密碼</label></p>
      <p><input class="data" type="submit" value="登入"></p>
    </div>
  </fieldset>
</form>
</body>
</html>