<!doctype html> 
<html> 
<head> 
<meta charset="utf-8"> 
<link rel="stylesheet" href="../css/share.css">
</head> 
<body> 

<div id="wrapper">
  <nav>
    <ul class="menu">
      <li class="menu-sort"><a href="../html/%E9%A6%96%E9%A0%81.html"style="text-decoration:none;">首頁</a></li>．
      <li class="menu-sort"><a href="../html/%E7%99%BB%E5%85%A5.html"style="text-decoration:none;">登入</a></li>．
      <li class="menu-sort"><a href="../html/%E9%97%9C%E6%96%BCbookstore.html"style="text-decoration:none;">關於我們</a></li>
    </ul>
  </nav>
 
  <header>
    <a href="../html/%E9%A6%96%E9%A0%81.html"><img src = "../img/bookstore02.jpg" alt="bookstore" width = "350" ></a>
  </header>
  
   
<div>
  <ul class="top">
    <li class="top-sort"><a href="../html/%E6%96%B0%E5%93%81%E6%8E%A8%E8%96%A6.html"style="text-decoration:none;">新品推薦</a></li>．
    <li class="top-sort"><a href="../html/%E6%9A%A2%E9%8A%B7%E6%9B%B8%E6%A6%9C.html"style="text-decoration:none;">暢銷書榜</a></li>．
    <li class="top-sort"><a href="../html/%E4%BB%8A%E6%97%A566%E6%8A%98.html"style="text-decoration:none;">今日66折</a></li>
  </ul>
</div>
  
  
<sup><img src = "../img/hr01.jpg" alt="hr" width = 100%></sup>
  <aside>
  <p class="shopmenu-title">購物分類</p>
  <p class="shopmenu" >&nbsp;<img src = "../img/shopmenu.jpg" >中文書</p>
      <ul>
        <li class="shopmenu1"><a href="../html/%E7%B6%93%E5%85%B8%E6%96%87%E5%AD%B8.html" style = "text-decoration:none;">經典文學</a></li>
        <li class="shopmenu1"><a href="../html/%E5%BF%83%E7%90%86%E5%8B%B5%E5%BF%97.html" style = "text-decoration:none;">心理勵志</a></li>
        <li class="shopmenu1"><a href="../html/%E6%8E%A8%E7%90%86%E6%96%87%E5%AD%B8.html" style = "text-decoration:none;">推理文學</a></li>
      </ul>
    <p class="shopmenu" font-size: 15px>&nbsp;<img src = "../img/shopmenu.jpg" >英文書</p>
      <ul>
        <li class="shopmenu1"><a href="../html/%E7%A7%91%E5%B9%BB%E5%B0%8F%E8%AA%AA.html" style = "text-decoration:none;">科幻小說</a></li>
      </ul>
  </aside>
  <div id="content">  
    內容
  </div>
  <footer>這是footer</footer>
</div> <!-- wrapper -->

</body>
</html>