<!doctype html> 
{% load staticfiles %}
<html> 
<head> 
<meta charset="utf-8"> 
<link rel="stylesheet" href="{% static 'main/css/share.css' %}">
<link rel="stylesheet" href="{% static 'main/css/book.css' %}">
</head> 
<body> 

<div id="wrapper">
  <nav>
    <ul class="menu">
      <li class="menu-sort"><a href="{% url 'main:main' %}" style="text-decoration:none;">首頁</a></li>．
        {% if user.is_authenticated %}
      <li class="menu-sort"><a href="{% url 'account:logout' %}">登出 ({{ user.username }})</a></li>．
        {% else %}
      <li class="menu-sort"><a href="{% url 'account:login' %}"style="text-decoration:none;">登入</a></li>．
      <li class="menu-sort"><a href="{% url 'account:register' %}"style="text-decoration:none;">註冊</a></li>．
        {% endif %}
      <li class="menu-sort"><a href="{% url 'main:關於bookstore' %}"style="text-decoration:none;">關於我們</a></li>
    </ul>
  </nav>
 
  <header>
    <a href="{% url 'main:main' %}"><img src = "{% static 'main/img/bookstore02.jpg' %}" alt="bookstore" width = "350" ></a>
  </header>
  
<div>
  <ul class="top">
    <li class="top-sort"><a href="{% url 'main:新品推薦' %}"style="text-decoration:none;">新品推薦</a></li>．
    <li class="top-sort"><a href="{% url 'main:暢銷書榜' %}"style="text-decoration:none;">暢銷書榜</a></li>．
    <li class="top-sort"><a href="{% url 'main:今日66折' %}"style="text-decoration:none;">今日66折</a></li>
  </ul>
  
</div>
  
  <div id="sup"><img src = "{% static 'main/img/hr01.jpg' %}" alt="hr" width = 100%></div>
  <aside>
  <p class="shopmenu-title">購物分類</p>
  <p class="shopmenu" >&nbsp;<img src = "{% static 'main/img/shopmenu.jpg' %}" >中文書</p>
      <ul>
        <li class="shopmenu1"><a href="{% url 'main:經典文學' %}" style = "text-decoration:none;">經典文學</a></li>
        <li class="shopmenu1"><a href="{% url 'main:心理勵志' %}" style = "text-decoration:none;">心理勵志</a></li>
        <li class="shopmenu1"><a href="{% url 'main:推理文學' %}" style = "text-decoration:none;">推理文學</a></li>
      </ul>
    <p class="shopmenu" font-size: 15px>&nbsp;<img src = "{% static 'main/img/shopmenu.jpg' %}" >英文書</p>
      <ul>
        <li class="shopmenu1"><a href="{% url 'main:科幻小說' %}" style = "text-decoration:none;">科幻小說</a></li>
      </ul>
  </aside>
  <div id="content">  
    <div id="photo">
    <img class="photo-img" src="{% static 'main/img/傲慢與偏見.jpg' %}">
    </div>
    <div id="author">
      <p><b>傲慢與偏見</b></p>
            作者： 珍‧奧斯汀<br>
            原文作者： Jane Austen<br>
            譯者： 柯乃瑜<br>
            出版社：木馬文化<br>
            出版日期：2018/12/12<br>
            語言：繁體中文<br>
            定價：360元<br>
            優惠價：79折284元
      <button><a href ="{% url 'order:order' %}"style = "text-decoration:none;">購買</a></button>

    </div>
    <div id="about" style="overflow-y:scroll">
      <h3>內容簡介</h3><hr>
      <p>　　傲嬌少爺X聰明小姐的二見鍾情</p>

　　珍•奧斯汀改編最多、評價最高的作品<br>
　　愛上了，才知道放下傲慢並不難<br>
　　戀上了，所有的偏見都襯得優點閃耀光芒

　　<p>　　「你是怎麼開始的？我可以理解你一旦愛上我，當然就會非常愛我，可你一開始怎麼會愛上我？」<br>
　　「我說不出感情生根的確切時間、地點、表情或言語。已經太久了。等我意識到自己已經愛上妳，早就開始很久了。」<br>
　　「你先前成功抗拒了我的美貌，至於我的禮貌，我對總是近乎不客氣，每次跟你說話都只想故意讓你不好過。說實話，你其實是欣賞我的魯莽吧？」<br>

　　「我確實欣賞妳活潑的個性。」<br>

　　「你就老實說是魯莽吧。根本就差不多了。事實是，你早就厭倦了那些客套、順從以及過度的殷勤。你受夠了那些總是只對你說話、只看著你而且只尋求你稱許的女人。我能引起你的興趣，是因為我跟她們完全不同。要你真是個討厭鬼，一定會很厭惡這樣的我；但儘管你那麼努力掩飾，你的感覺總是高貴公正，在你心裡，你著實唾棄那些苦心追求你的人。好啦，我替你省去了說明的麻煩，而且說真的，這樣一想還滿有道理的。畢竟你其實根本不知道我真正的優點，但是熱戀的時候也沒人會想到這個。」<br>

    　　「如果說，羅蘭．巴特用一本《戀人絮語》揭露愛情的語言結構與表意系統，從此沒有先於語言的戀人，沒有先於符號的愛情，那麼，《傲慢與偏見》就是獨屬於珍迷的戀人絮語。在珍迷的世界中，沒有先於達西先生的男人，沒有先於《傲慢與偏見》的愛情。所有的愛情與慾望，都只能在珍．奧斯汀的語言與符號中產生意義。」——施舜翔<br></p>

      <h3>本書特色</h3><hr>

　　<p>　　1. 全新台灣譯者中譯<br>

　　2. 參照哈佛大學註解版等中外相關文獻，提供最新穎、全面而當代化的中文註解<br>

　　3. 系列總導讀：高瑟濡（台灣大學外文系教授）──社會與人性的觀察家：談珍‧奧斯汀的長篇小說，馮品佳（交通大學外文系講座教授，中研院歐美所合聘研究員）──我們的珍‧奧斯汀<br>

　　4. 台灣當代作家專文推薦：施舜翔（作家，文化評論人）──珍‧奧斯汀的妹妹們：一段《傲慢與偏見》的當代再現史<br>

　　5. 精采譯後記<br>

    　　6. 融合經典與現代，風格統一的包裝：知名平面設計師 莊謹銘 操刀「假使羅曼史小說有祖譜的話，那珍奧斯汀肯定是祖師奶奶。」——李桐豪（作家）<br></p>

      <h3>好評推薦</h3><hr>

　　<p>「在欲望流竄的當代社會，奧斯汀筆下各種發乎情而又止乎禮的感情篇章或許更能引人入勝。」——馮品佳（交通大學外文系講座教授）<br>

　　「一切的愛情故事從珍奧斯汀的地平線上起跑，跑，不停跑，世界上所有嚮往愛情的女孩都在奔跑……」——陳栢青（作家）<br>

　　「珍．奧斯汀是我的使命。過去我一直嘗試在電影中把社會諷刺和家庭倫理劇融合起來；如今我理解到，長久以來我所做的，其實就是像珍．奧斯汀那樣的作品，只是沒意識到而已。」——李安（電影《理性與感性》導演，節錄自Newsweek專訪）<br>

　　「有些書能夠表達對生活的看法，而且說得非常清楚，比我們自己說得都清楚。生活中的尷尬、苦惱、嫉妒、罪惡感，這一切經過奧斯汀之手一一呈現在我們眼前，使我們以一種神奇的方式看清自己。」——艾倫．狄波頓（英國知名作家）<br>

　　「奧斯汀採用反諷的手法，把莎士比亞那種對人性的刻畫提升到爐火純青的地步。她非凡的喜劇天賦，自莎士比亞以降無人能出其右。」——哈洛卜倫（《西方正典》作者）<br>

　　「奧斯汀小姐描述了日常生活中的平凡事物，人們在日常生活中的活動和情感；故事中沒有什麼大事，但是你讀完一頁會趕緊翻到下一頁，希望知道接下來會發生什麼事；下頁讀完，依舊沒什麼大事，可是你會帶著同樣迫切的心情往下閱讀。」——威廉．薩默塞特．毛姆（英國小說大師）<br>

　　「我是珍迷，所以一提到她，我就會笨嘴笨舌的。」——E. M. 佛斯特（英國小說大師）<br>

    「我從七歲起就是珍迷。」——綺拉奈特莉（英國女星，節錄自媒體專訪）<br></p>
    </div>
  </div>
  <footer></footer>
</div> <!-- wrapper -->

</body>
</html>