{% extends "main/base.html" %}
{% block heading %}註冊{% endblock %}
{% block content %}
<div id="wrapper">
  <nav>
    <ul class="menu">
      <li class="menu-sort"><a href="{% url 'main:main' %}" style="text-decoration:none;">首頁</a></li>．
      <li class="menu-sort"><a href="{% url 'main:登入' %}"style="text-decoration:none;">登入</a></li>．
      <li class="menu-sort"><a href="{% url 'account:register' %}"style="text-decoration:none;">註冊</a></li>．
      <li class="menu-sort"><a href="{% url 'main:關於bookstore' %}"style="text-decoration:none;">關於我們</a></li>
    </ul>
  </nav>
    <header>
    <a href="{% url 'main:main' %}"><img src = "/static/main/img/bookstore02.jpg" alt="bookstore" width = "350" ></a>
  </header>
<form method="post" action="{% url 'account:register' %}">
  {% csrf_token %}
  {{ userForm.as_p }}
  <input class="btn" type="submit" value="送出">
</form>
{% endblock %}