* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height:100%;
  
  
}

fieldset{
  margin-top:150px;
  border: 0;
  
  
}

form{
  width: 800px;
  margin: 0 auto;
}

.main{
  width: 400px;
  margin: 0 auto;
  text-align: left;
}

div,h1,h2,h3,.add{
  text-align: center;
}

.data{
  padding: 14px;
  width: 400px;
  border-radius:10px;
}

input:focus {
  background-color: aliceblue;
}

p{
  text-align: left;
}

a{
  text-decoration: none;
}

input[type=submit]{
  
  background-color: #8aa480
}

input[value=登入]{
  color: #FFFFFF
}